* {
  padding: 0;
  margin: 0;
   font-family: "Montserrat";


/*  font-family: Arial, sans-serif;*/
  box-sizing: border-box;
  /*background-color: rgba(116, 116, 122, 0.8);*/
}

/*navigation*/
.nav-item a{
  color: black;
}
/*navigation*/

/*about styling*/
.about{
  padding-left:50px;
  padding-top: 20px;
  padding-right: 50px;
  word-spacing: 1.0;

  background-color:#ff4d4d;
  color: white;
  height: 400px;
}
/*about styling*/

/*content*/
.content{
  background-color: yellow;
  height: 600px;
  padding-top: 17px;


}

.btn-primary {
  margin-bottom: 5%;
}

.action {
  height: 430px;
  background-color: white;
  padding-top: 2%;
  width: 50%;
  border: 1px solid white;
  border-radius: 25px;
  padding-left: 10%;
}
.form-label {
  font-weight: bold;
}

form .form-select{
  width: 80%;
/*  margin-top:2% ;*/
}

input[type=number]{
/*  margin-bottom: 15px;*/
  width: 80%;
}

.submit {
  width: 80%;
}
/*content*/

/*payment*/
.payment {
  background-color:#3399ff;
  height: 600px;
  padding-top:2%;
   font-family: "Montserrat";

}

.payment h3{
  color: white;
  font-weight: bold;
}

.payment h5 {
  padding-bottom: 2%;
  padding-left: 20%;
  font-size: 13px;
  color: white;
}
/*payment*/

/*starting*/
.starting{
  background-color: white;
  height: 250px;
}

.starting h3{
  color: black;
  font-weight: bold;
  padding-top: 2%;
}

.starting h5 {
  padding-bottom: 2%;
  padding-left: 20%;
  font-size: 13px;
  color: black;
}

.account{
  width: 20%;
  margin-left: 30%;
}

/*starting*/

